<html>
<head>
	<title>Welcome</title>
</head>
<body>
	<h1>Welcome to Quoting Dojo</h1>
<div id='info'>
	<form action = '/quotes' method = 'post'>
		Your Name: <input type= 'text' name='name' id='name'><br>
		Quote: <input type='text' name='quote' id='quote'><br>
		<input type = 'submit' value ='Add my quote!'>
	</form>
		<button><a href="/quotes">Skip to Quotes!</a></button>
</div>
</body>
</html>